.PomoTask {
  margin: 5px 0;
  min-height: var(--taskHeight);
  border-color: lightgray;
  border-radius: var(--rangleRadius);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(200, 200, 200, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: opacity 250ms ease;
}

.minimizedLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.expandMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.halfBox {
  display: flex;
  flex-direction: column;
}

.flexDesc {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.taskIcon {
  transform-origin: center;
  transform: scale(0.8);
}

.PomoTaskentered {
  opacity: 1;
}

.PomoTaskexiting {
  opacity: 0;
}
.PomoTaskexited {
  opacity: 0;
}

.name {
  font-weight: bold;
}

.finished {
  cursor: pointer;
}

.duration {
  margin-left: auto;
}