.timerContainer {
  max-width: 30rem;
  max-height: 30rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: block;
  background-color: #ece5f0;
  border-radius: 10px;
}

.time {
  color: black;
  font-size: 7em;
  text-align: center;
  margin: 1rem auto;
}

.buttonsContainer {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
}

.topButtonsContainer {
  display: flex;
  justify-content: center;
}

.timerTypeLabel {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .timerContainer {
    max-width: 17rem;
    max-height: 30rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: block;
    background-color: #ece5f0;
    border-radius: 10px;
  }

  .time {
    color: black;
    font-size: 5em;
    text-align: center;
    margin: 1rem auto;
  }

  .buttonsContainer {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    flex-wrap: wrap;
  }
}
