.timerContainer {
  width: 75%;
  max-height: 75%;
  max-width: 40%;
  margin: 2rem auto;
  padding: 2rem;
  display: block;
  background-color: #ECE5F0;
  border-radius: 10px;
}
.buttonsContainer {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
}

.time {
  color: black;
  font-size: 7em;
  text-align: center;
  margin: 1rem auto;
}

.timerTypeLabel {
  text-align: center;
}