:root {
  --PI: 3.14159265358979;
  --circleSize: 16rem;
  --circleCirc: calc(2 * var(--PI) * var(--circleSize));
}

#BarSvg {
  position: absolute;
  width: 33rem;
  height: 33rem;
  margin: auto;
  z-index: 2;
}

.BaseCircle {
  stroke-width: 6px;
  stroke: darkgray;
  z-index: 3;
}

.ProgressCircle {
  stroke-opacity: 100%;
  stroke-width: 6px;
  stroke: white;
  transform-origin: 50% 50%;
  transform: rotate(-0.25turn);
  z-index: 4;
}

.SkipCircle {
  stroke-opacity: 100%;
  stroke-width: 6px;
  stroke: white;
  transform-origin: 50% 50%;
  transform: rotate(-0.25turn);
  z-index: 5;
}

@keyframes timerRingMove {
  from {
    stroke-dashoffset: var(--circleCirc);
  }
  to {
    stroke-dashoffset: 0;
  }
}
