.button {
  background-color: aliceblue;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem;
  margin: 1rem;
  
  border: 0px;
  border-radius: 10%;
}

#bigButton {
  font-size: 3em;
  font-weight: bold;
  width: 10rem;
  height: 5rem;
}

