.mainContainer {
  min-height: 100vh;
  margin: 0rem auto;
  padding-bottom: 4rem;

  display: flex;
  justify-content: center;

  transition: background-color 1s ease;
}

.mainContainer.light {
  background-color: white;
}

.mainContainer.dark {
  background-color: var(--darkerBlack);
}

.centerContainer.dark {
  background-color: var(--lighterBlack);
}

.centerContainer {
  width: 35rem;
  height: 35rem;
  position: relative;
  border-radius: var(--cardRadius);
  box-shadow: var(--basicBoxShadow);

  margin: var(--panelMargin);
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 1s ease;
}

.expandButton {
  position: absolute;
  left: 36rem;
  margin: auto 0;
  cursor: pointer;
  transition: transform 500ms ease;
  transform: rotate(-90deg);
}

.expandButtonOpen {
  transform: rotate(90deg);
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 35rem;
  margin: 0 auto;
  margin-bottom: 0;
}

#icon {
  height: 200px;
  width: 200px;
}

.title {
  padding: 0;
  display: flex;
  margin: 1rem;
  margin-right: auto;
  max-width: 20rem;

  transition: color 1s ease;
}

.title.dark {
  color: white;
}
.title.light {
  color: black;
}
