.mainContainer {
  min-height: 100vh;
  margin: 0rem auto;
}

.title {
  padding: 0;
  margin: 0;
}

.mainContainer.work {
  background-color: #FF858D;
}
.mainContainer.rest {
  background-color: #9292fc;
}
.mainContainer.break {
  background-color: #9739fc;
}