:root {
  --duration: 600ms;
}

.modalContainer {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 25rem;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 0.1rem 0.75rem;
  background-color: white;
  border-radius: 10px;
  transition: top var(--duration) ease-out;
}

.modalContainerentering {
  top: 30%;
}

.modalContainerentered {
  transition: top var(--duration) ease-in;
  top: 30%;
}

@media only screen and (max-width: 600px)  {
  .modalContainer {
    display: block;
    position: absolute;
    transform: none;
    left: 5%;
    width: 90%;
    margin: auto;
  }
  .modalContainerentered {
    top: 8%;
  }
}

.modalContainerexiting {
  transition: top var(--duration) ease-in;
  top: -50%;
}
.modalContainerexited {
  top: -50%;
}

.modalBackground {
  position: fixed;
  background-color: black;
  transition: opacity var(--duration) ease-in;
  opacity: 35%;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.modalBackgroundentering {
  opacity: 35%;
}

.modalBackgroundentered {
  transition: opacity var(--duration) ease-in;
  opacity: 35%;

}

.modalBackgroundexiting {
  transition: opacity var(--duration) ease-in;
  opacity: 0;

}
.modalBackgroundexited {
  opacity: 0;

}