.modalContainer {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 20rem;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 0.1rem 0.75rem;
  background-color: white;
  border-radius: 10px;
}

.modalBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100vh;
  z-index: 99;
}
